* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif; 
  color: white;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.programmers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.programmers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.overlay{
  display: grid;
  position: fixed;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  
}

.gamePageLinks {
  position: fixed;
  z-index: 1;
  color:white;
}

/*navigation bars*/
#navBars {
  display: inline-block;
  flex-direction: row;
  max-height: 5rem;
  position: fixed;
  z-index: 2;
}

.navButtons {
  font-size:20px;
  font-family: Audiowide;
  text-decoration: none;
  color: white;
  padding: 2.25rem;
}

.navButtons:hover{
  opacity: 0.7;
}

h1 {
  font-family: Rubik Glitch, Ubuntu;
  font-size: 4em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: Rubik Glitch, Ubuntu;
  font-size: 3em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: "Press Start 2P";
  font-size: 1.5em;
}

p {
  font-family: VT323;
  font-size: 1.5em;
  max-width: 700px;
  margin: 0 auto;
}

/*new*/

.info-container {
  display: grid;
  position: relative;
  top: -90%;
  grid-template-rows: 4fr, 2fr;
  grid-template-columns: 2fr, minmax(100px, 2fr);
  grid-gap: 1em;
  justify-content: space-evenly;
  z-index: 3;
  overflow: auto;
}

/* game info */

.game-info {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr, 3fr, 1fr;
  grid-gap: 1em;
}

.title {
  grid-area: 1 / 1 / 2 / 2;
}

.GUI {
  grid-area: 2 / 1 / 3 / 2; 
}

.GUI img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.relatedInfo{
  grid-area: 3 / 1 / 4 / 2;
}

/* author */

.author-info {
  display: grid;
  grid-area: 1 / 2 / 2 / 4;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 10fr;
  column-gap: 1em;
}

.profile {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  align-self: center;
}

.profile img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.profileName {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: start;
  font-size: 2.5em;
  margin: 0;
}

.intro {
  grid-area: 2 / 1 / 3 / 3;
  align-self: center;
  justify-self: center;
  /* max-width: 100%; */
}

/* link */

.link-info {
  grid-area: 2 / 2 / 3 / 4; 
  display: grid;
  align-self: baseline;
  grid-template-columns: 1fr 10fr;
}

.linkIcon {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;
  align-self: center; 
}

.linkIcon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.link {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: start;
  align-self: center;
}

.link a {
  color: white;
  font-family: VT323;
  font-size: 30px;
}



